<!DOCTYPE html>

<html>
    <head>
        <title>Filter</title>
        <link rel="stylesheet" href="/static/style/design.css">
        <script>
            function loader(frame) {
                const main = document.getElementById('loading');
                const div = document.getElementById(frame);
                const clone = div.cloneNode(true);

                while (main.firstChild) main.firstChild.remove();

                    main.appendChild(clone);
            }
        </script>
    
    </head>
    <body id="bd" onload="loader('video')">
        <center><h1>Filters</h1></center>
        <center>
            <div id="loading">
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
        </center>
        <div  style="display:none;">
            <div id="video">
                <img  src="{{url_for('video')}}" class="destory" idth=35%% />
            </div>
        </div> 
        <br>
        <br>
        <div>
            <form method='POST' enctype="multipart/form-data">
                <input type="file" id="glass" name="glass" accept="image" />
                
                <input type="file" name="moustache" accept="image" />
             
                <br>
                <input type="submit" />
            </form>
            <a href='/remove_glass/'>
                <button name="Capture">Remove Glass</button>
            </a>
            <a href='/remove_moustache/'>
                <button name="Capture">Remove Moustache</button>
            </a>
            <p id="print"></p>
        </div>
       
    </body>
</html>