<!DOCTYPE html>

<html>
    <body>
        <center><h1>Filters</h1></center>
        <div>
            <center>
                <img src="{{url_for('video')}}" width="35%"/>
            </center>
        </div>
        <div>
            <form method='POST' onsubmit=submit() enctype="multipart/form-data">
                <input type="file" name="glass" accept="image/*">
                <input type="file" name="moustache" accept="image/*">
                <input type="submit" />
            </form>
            <p id="result"></p>
        </div>
    </body>
</html>